<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta about="Template engine: https://www.ThymeLeaf.org/  and  CSS: https://Semantic-UI.com/">
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <title>client-web-javalin</title>
</head>
<body>

<h1>Hello <span th:text="${path}">World</span> !</h1>
<div class="ui three column doubling stackable grid container">
    <div class="column">
        <div class="ui raised padded text segment">
            This is the <em>Web Application</em>:
        <ul>
            <li><strong>Server</strong> from a <strong>HTTP</strong> point of view, your browser is the Client</li>
            <li><strong>Client</strong> from a <strong>OAuth</strong> point of view, the Resource Server is the Server</li>
        </ul>
        </div>
    </div>

    <div class="column" th:if="${session} == null">
        <div class="ui raised padded text  segment">
            Go click <a href="/reqtok">Request a Token</a>
        (Your browser will never see the Token. It is only for the Web App/Server.)
        </div>
    </div>

    <div class="column" th:if="${session} != null">
        <div class="ui raised padded text  segment">
            <p>We have :
            <div class="ui labeled input">
                <div class="ui label">Access Token</div>
                <input type="text" th:value="${session.access_token}">
            </div></p>
            <p>Look at this Token in <a target="_blank" th:href="@{https://jwt.io/(value=${session.access_token})}">JWT.io</a>.</p>
            The Web App can query the Resource Server: <a href="/delegaccess">Delegate RS access</a>
        </div>
    </div>

    <div th:if="${msg} != ''" class="ui raised padded text segment container">
            Special message: <strong th:text="${msg}">...</strong>
    </div>

    <div class="ui raised padded text container segment">Reset your Session: <a href="/reset">Reset</a></div>
</div>
</body>
</html>